<div class="disclaimer">
    <span style="font-size: 1.5rem; font-weight: 600;">Disclaimer</span>
    <span>--------------------------</span>
    <span>A special thanks to <a href="https://github.com/vfat-tools/vfat-tools">Vfat Tools</a> for providing source code.</span>
    <a href="https://t.me/chainedfarmsnetwork" target="_blank">Telegram</a> - <a href="https://twitter.com/chainedfarmsNTW" target="_blank">Twitter</a> - <a href="https://github.com/chainedfarmsnetwork" target="_blank">GitHub</a>
</div>
