<div>
<a href="<%= PP %>/"><button class="button-link">Home</button></a>
<!-- <a href="<%= PP %>/mainchain/"><button class="button-link">Main Chain</button></a> -->
</div>
<%- include(`${partials}/quick`); -%>
<%- include(`${partials}/pool_details_modal`); -%>
