.hidden {
  display: none;
}

.disclaimer {
  border-radius: 5px;
  background-color: #27262c;
  width: fit-content;
  margin: auto;
  padding: 0px 30px 30px;
}

.button-link {
  margin: 0px 5px;
  font-family: 'Teko', monospace;
  background-color: #27262c;
  border-radius: 5px;
  color: #e8b000;
  border: none;
  padding: 2px 25px 0px;
  font-size: 1.5em;
  cursor: pointer;
  transition: 0.1s all linear;
  border: 1px solid #e8b000;
  &:hover {
    background-color: #343135;
    border: 1px solid rgb(194, 224, 0);
    color: rgb(194, 224, 0);
  }
}

.pool-info {
  background-color: #27262c;
}

table[id*='-table'] {
  margin: 50px auto;
  min-width: 80vw;
  max-width: 90%;
  & tbody > tr > td {
    border: 1px solid #e8b000;
  }
}

#diffBody {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
}

tbody,
tr {
  margin: 10px 0;
  height: 100%;
  border: 1px solid #e8b000;
  transition: 0.2s all linear;
  :hover {
    background-color: #343135;
  }
}

table {
  border-radius: 5px;
  overflow: hidden;
  background-color: #27262c;
  border-collapse: collapse;
  font: 1em 'Teko', monospace;
  table-layout: fixed;
  width: 100%;
  height: 100%;
  border: 1px solid black;
  transition: 0.2s all linear;
  box-shadow: 0px 0px 3px #e8b000;
}
td,
th {
  padding: 10px 4px;
  vertical-align: top;
  white-space: pre-wrap;
  height: 100%;
}
h1 {
  display: inline;
  font-size: 100%;
}
del {
  text-decoration: none;
  color: #b30000;
  background: #fadad7;
}
ins {
  background: #eaf2c2;
  color: #406619;
  text-decoration: none;
}

#result {
  white-space: pre-wrap;
}

.source {
  position: absolute;
  right: 1%;
  top: 0.2em;
}

[contentEditable] {
  border-color: #bbb #d9d9d9 #ddd;
  border-radius: 4px;
  -webkit-user-modify: read-write-plaintext-only;
  outline: none;
}
[contentEditable]:focus {
  border-color: #6699cc;
  box-shadow: 0 0 4px #2175c9;
}

@-moz-document url-prefix() {
  body {
    height: 99%; /* Hide scroll bar in Firefox */
  }
}
